body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('atruvia.jpg') center/cover no-repeat;
    color: white;
    height: 100%;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.picture {
    width: 90%;
    max-width: 500px;
    max-height: 200px;
    margin-bottom: 20px;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(0,0,0,0.5);
    padding: 2em;
    margin: 10px;
    border-radius: 5px;
    width: 90%;
    height: 70%;
    max-width: 500px;
    min-height: 400px;
    box-sizing: border-box;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0.5em 0;
    border: none;
    border-radius: 5px;
    background: #0A5AE1;
    color: white;
    font-size: 200%;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
}

h2 {
    text-align: center;
}

a{
    text-decoration: none;
}

.button:hover {
    background: #004080;
}

